<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="sidebar-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="/index.html">
                    <span data-feather="home"></span>
                    Create feedback
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/list.html">
                    <span data-feather="list"></span>
                    Available feedback
                </a>
            </li>

        </ul>
    </div>
</nav>